

.v-h1{
    justify-self: center;
}

.card-container{
    display: flexbox;
    flex-wrap: wrap;
    gap:20px;

}


.v-container{
    border: 3px solid;
    border-radius: 4px;
    width: 600px;
    margin-top: 30px;
}

.car-card{
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    justify-self: center;
   margin-bottom: 20px; 
}

.car-card:hover{
    color: firebrick;
}


.v-img{
    height: 150px;
    width: 350px;
    object-fit: cover;
    margin-left: 25px;
}

.v-page-btn{
    color: brown;
}

