

.v-h1{
    justify-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:40px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0)
}

.card-container{
    display: flexbox;
    flex-wrap: wrap;
    gap:20px;

}


.v-container{
    border: 3px solid;
    border-radius: 4px;
    width: 600px;
    margin-top: 30px;
}

.car-card{
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    justify-self: center;
   margin-bottom: 20px; 
}

.car-card:hover{
    color: firebrick;
}

.v-img{
    height: 150px;
    width: 350px;
    object-fit: cover;
    margin-left: 25px;
}

.v-page-btn{
    color: brown;
}

.v-edit-btn{
    float: right;
    width: 70px;
    font-size: larger;
}
.v-edit-btn:hover{
    color: firebrick;
}

.v-back-btn{
    float: right;
    width: 70px;
    font-size: larger;
}
.v-back-btn:hover{
    color: firebrick;
}

.v-delete-btn{
    float: right;
    width: 70px;
    font-size: larger;
}
.v-delete-btn:hover{
    color: firebrick;
}

.v-h3{
    justify-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: firebrick;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0)

}