

/*owner card*/

.o-contanier{
   border: 3px solid;
   border-radius: 4px;
   margin-top: 30px;
   width: 600px;
}
.o-card:hover{
-webkit-box-shadow: 1px 1px 10px 22px rgba(0, 0, 0, 0.98); 
box-shadow:  1px 1px 15px 5px rgba(0, 0, 0, 0.98);
}
.o-card{
    border: 3px solid;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px;
    justify-self: center;
}

.o-back{
    float: right;
    width: 70px;
    font-size: larger;
    height: 31px;
}

.o-delete{
    float: right;
    width: 70px;
    font-size: larger;
}
.o-delete:hover{
    color: firebrick;
}

.o-edit{
    float: right;
    width: 70px;
    font-size: larger;
}

.o-edit:hover{
    color: firebrick;
}
.o-back{
    float: right;
    width: 70px;
    font-size: larger;
}
.o-back:hover{
    color: firebrick;
}

.o-card-btn-instr{
    justify-self: end;
    margin-top: 10px;
    font-size: larger;
}



.reg-btn{
    border: 2px solid;
    border-radius: 5px;
    font-size: larger;
    background-color: rgb(54, 9, 9);
}

.reg-btn:hover{
    background-color: rgb(255, 0, 0);
}

.o-form{
    border: 2px solid;
    border-radius: 3px;
    margin-top: 200px;
    height: 300px;
    width: 300px;
}


.o-form-contanier{
    float: right;
}

.form-input{
    width: 292px;
    
}