

/*owner card*/

.o-contanier{
   border: 3px solid;
   border-radius: 4px;
   margin-top: 30px;
   width: 600px;
}
.o-card:hover{
-webkit-box-shadow: 1px 1px 10px 22px rgba(0, 0, 0, 0.98); 
box-shadow:  1px 1px 15px 5px rgba(0, 0, 0, 0.98);
}
.o-card{
    border: 3px solid;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px;
    justify-self: center;
}

.o-back{
    float: right;
    width: 70px;
    font-size: larger;
    height: 31px;
}

.o-delete{
    float: right;
    width: 70px;
    font-size: larger;
}
.o-delete:hover{
    color: firebrick;
}

.o-edit{
    float: right;
    width: 70px;
    font-size: larger;
}

.o-edit:hover{
    color: firebrick;
}
.o-back{
    float: right;
    width: 70px;
    font-size: larger;
}
.o-back:hover{
    color: firebrick;
}

.o-card-btn-instr{
    justify-self: end;
    margin-top: 10px;
    font-size: larger;
}

.back-btn{
    border: 2px solid;
    border-radius: 5px;
    font-size: larger;
    float: right;
    margin-right: 20px;
}

.back-btn:hover{
    background-color: rgb(90, 87, 87);
}

.reg-btn{
    border: 2px solid;
    border-radius: 5px;
    font-size: larger;
    background-color: rgb(54, 9, 9);
    margin-right: 20px;
    float: right;
}

.reg-btn:hover{
    background-color: rgb(255, 0, 0);
}

.o-form{
    width: 300px;
    height:fit-content;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 5px;
    font-style: italic;
    border-radius: 3%;
    margin-top: 200px;
    margin-bottom: 200px;
}


.o-form-contanier{
    float: right; 
}

.form-input{
    width: 294px;
    height:30px;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 5px;
    font-style: italic;
    
}
.form-btn{
    border-radius: 3px;
    font-size: large;
    background-color: rgb(100, 2, 2);
}


.form-btn:hover{
    background: firebrick;
}

.o-name{
    color: rgb(228, 0, 0);
}

.o-title{
    justify-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:40px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0)
}


.o-card-title{
    justify-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: firebrick;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0)    
}