

/*Hompage styling*/
*{
    background-color:  darkgray;
}
.icon-select-o{
-webkit-box-shadow: 4px 1px 28px 22px rgba(0,0,0,0.98); 
box-shadow: 4px 1px 28px 22px rgba(0,0,0,0.98);
width: fit-content;
justify-self: center;
}

.icon-select:hover{
-webkit-box-shadow: 4px 1px 28px 22px rgba(196, 26, 26, 0.98); 
box-shadow:  4px 1px 28px 22px rgba(196, 26, 26, 0.98);
}
.icon-select-v{
    -webkit-box-shadow: 4px 1px 28px 22px rgba(0,0,0,0.98); 
    box-shadow: 4px 1px 28px 22px rgba(0,0,0,0.98);
    width: fit-content;
    justify-self: center;
    }
    
    .icon-select-o:hover{
    -webkit-box-shadow: 4px 1px 28px 22px rgba(196, 26, 26, 0.98); 
    box-shadow:  4px 1px 28px 22px rgba(196, 26, 26, 0.98);
    }

    .icon-select-v:hover{
        -webkit-box-shadow: 4px 1px 28px 22px rgba(196, 26, 26, 0.98); 
        box-shadow:  4px 1px 28px 22px rgba(196, 26, 26, 0.98);
        }
    

.icon-title{
    justify-self: center;
    color: firebrick;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 3px rgb(0, 0, 0)
}

.title{
    font-size:  100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: firebrick;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0, 0, 0)
}
.Hp-description{
    justify-self: center;   
    text-shadow: 1px 1px 1px rgb(9, 9, 9);
    text-align: center;
    
}

.hp-p{
    justify-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hp-img{
    width: 5px;
}
/*NavBar styling*/
.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid;
    width: fit-content;
    float: right;
}

.logo{
    text-decoration: none;
    padding: 8px 12px;
    font-size: larger;
    color: firebrick;
}

.logo:hover{
    text-shadow: 1px 1px 1px rgb(9, 9, 9);
}


.title-card{
    border: 3px solid;
    margin-top: 3px;
    width: 200px;
}

.title-title{
    justify-self: center;
    font-size:  50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 3px rgb(0, 0, 0)
}